<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>
    <title>{{ title }}</title>
</head>
<body>
    <header id="welcome_container">
        <h1 class="welcome__message">Welcome to Josh's Bookshop of wonders!</h1>
        <ul id="welcome__list">
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a href="#">Browse</a>
                    <a href="#">About</a>
                    <a href="#">Contact</a>
                </div>
            </div>
        </ul>
    </header>
    <main>
        <header class="about">
            <h3 class="about__title">A little bit about us...</h3>
        </header>
        <article class="about__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Doloribus ex quas consequuntur voluptates omnis architecto a quis rem odio, id exercitationem. 
            Blanditiis, tenetur nemo! Ullam velit voluptates mollitia officia itaque?
        </article>
    </main>
</body>
</html>