<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>
    <title>{{ title }}</title>
</head>
<body>
    <header class="welcome"><h1>Welcome to my bookshop!</h1></header>
    <main>
        <nav>
            <header><h1>Menu</h1></header>
                <ul>
                    <li>
                        <a href="/orders">Orders Page</a>
                    </li>
                </ul>

        </nav>
    </main>
</body>
</html>